/*Tipo de color y tipo de letra de los  
 H1 de todos los html*/
                                                
h1{
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    margin-left: 0px;
    margin-top: 30px;   
}

/*El footer*/
footer{
    text-align: center;
    margin-top: 50px;
}

/*Todo lo que estoy usando para el header*/

.navegador{

   .navegador__lista{
    height: 23px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
    
   }
    
   .navegador__link{

    text-decoration: none;
    color: rgb(252, 252, 252);
   }
   

}

/*Fondo de la pagina*/
body{
background-color:rgb(219, 154, 56); 
}

/*Color de los links de twitter e instagram*/

.colorLinks{
color: black;
}

 /*Textos del html TRAYECTORIA*/


 li{
    display: inline-block;
}   

.trayectoria{

 .trayectoria__titulo{

    text-align: center;

 }
 
 .trayectoria__subtitulo{

    margin-top: 25%;
    margin-bottom: 15%;

 }


 .trayectoria__texto{

    margin-top: 2%;

 }

}

/*Margenes del texto y la foto del HOME*/
.margenFoto{
margin-left: 40px;
margin-right: 20px;

}
.margenBio{
text-align: center;
margin-top: 3%;
}

/*html de CONTACTO*/                                               
fieldset{
text-align: center;
}
.contactoF{
 @extend .margenBio
}
textarea{
margin-left: 13%;
}

/*Margenes para los goles*/ 
